/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

.main-view {
}

.restaurant-detail-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.restaurant-detail-label {
    color: lightblue;
    width: 75px;
    text-align: right;
}

.centered {
    margin: 0 auto;
    display: table;
}

.restaurant-view {
	padding-left: 10px;
	border-bottom: 1px solid darkgrey;
}

.restaurant-name {
	font-size: 20px;
}

.restaurant-cuisine {
}
