/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

/***************************
 * RestaurantView repeater rows
 ***************************/

.restaurant-view {
	padding-left: 10px;
	border-bottom: 1px solid darkgrey;
}

.restaurant-view.selected {
	background-color: lightgray;
}

.restaurant-name {
	font-size: 20px;
}

/* Let's have the edit button fade in when it's hovered over. By default, we'll hide it and
    do a little opacity animation to bring it visible */
.fade-button {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

/* DataList automatically applies selected class. Focused class will be applied on mounse enter/leave */
.fade-button.focused,
.selected .fade-button {
	opacity: 1;
}

/***************************
 * Detail page from popups
 ***************************/

.restaurant-detail-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.restaurant-detail-label {
    color: lightblue;
    width: 75px;
    text-align: right;
}

/* Onyx popups are dark grey; black text is hard to read on black */
.restaurant-detail input {
	color: white;
}

/* However, focused inputs have a white background; white on white is impossible to read */
.restaurant-detail .onyx-focused input {
	color: black;
}

.restaurant-cuisine {
}
